# ===== Backend =====
backend/target/
backend/.env
backend/application.properties

# ===== Frontend =====
frontend/node_modules/
frontend/build/
frontend/.env

# ===== General =====
.env
.DS_Store
*.log
