body {
  font-family: Arial;
  background: #f5f5f5;
}

.container {
  width: 300px;
  margin: 5rem auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
